html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    max-width:  1440px;
    margin: 0 auto;
    background-color: black;
    color: white;
}

.cabecalho {
    padding: 30px 15px;
    position: relative;
}

.cabecalho .logo {
    background: url(/src/images/M.png) center center no-repeat;
    width: 90px;
    height: 60px;
    display: inline-block;
    
}

.cabecalho .logo h1 {
    font-size: 0;
}

a{
    color: white;
}

.cabecalho nav{
    color: white;
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 30px;
    
}   

.cabecalho ul li {
  display: inline-block;
  padding: 15px;
}

.cabecalho ul li a:hover {
  font-weight: bold;
}

.painel {
    background: url(/src/images/img\ 1.jpg)
    center center
    no-repeat;
    height: 600px;
}

.painel h2 {
    color: white;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 20%;
    transform: translateY(-50%);    
}

.com-texto {
    padding: 160px;
    text-align: center;
    clear: both;
}

.com-texto img {
    width: 160px;
    height: 113px;
    margin-bottom: 70px;
}

.com-texto h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.com-texto p {
    font-size: 18px;
    width: 702px;
    margin: 0 auto;
}


.ladrilho div {
    float: left;
}

.ladrilho .grande {
    background: url(/src/images/img-grande.jpg) center center
    no-repeat;
    height: 600px;
    width: 50%;    
}

.ladrilho .peq {
    background: url(/src/images/img-peq1.jpg) center center
    no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilho .peq2 {
    background: url(/src/images/img-peq2.jpg) center center
    no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilho .medio {
    background: url(/src/images/img-media.jpg) center center
    no-repeat;
    height: 300px;
    width: 50%;
}

.contato {
    background: url(/src/images/img44.jpg) center center
    no-repeat;
    height: 600px;
    position: relative;
}

.contato h2 {
    color: white;
    font-size: 45px;
    font-weight: 600;
    text-align: center
    
}
.contato address {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.contato .texto {
    position: absolute;
    top: 30%;
    left: 55%;
}

.rodape {
    background: url(/src/images/rodape.jpg) center center
    no-repeat;
    width: 1440px;
    height: 100px;
    padding: 20px 30px;
}

.rodape ul {
    float: right;
}

.rodape ul li {
    display:inline-block;
    padding: 15px;
}

.rodape ul li a:hover{
    font-weight: bold;
}

.rodape .redes-sociais .insta, 
.rodape .redes-sociais .linkedin, 
.rodape .redes-sociais .github{
width: 30px;
height: 30px;
margin: 10px;
}

.rodape .redes-sociais {
    float: right;
    clear: both;
    margin-top: -30px;
}

.tecnologia {
    background: url(/src/images/hello-world.webp) center center
    no-repeat;
    padding-bottom: 600px ;
    margin-top: 700px;
    position: relative;
}

.tecnologia h2 {
   font-size: 45px;
   font-weight: 600;
   text-align: center;
   padding-bottom: 20px;
   }

   .tecnologia p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
   }

   .tecnologia .figuras .css,
   .tecnologia .figuras .html,
   .tecnologia .figuras .js,
   .tecnologia .figuras .ts{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #d3d3d3;
   }

   .tecnologia .figuras {
    text-align: center;
    margin-top: 30px;
   }